---
---
<html>
<body>
<h1>Hello World</h1>
  
{{ site }}<br />
{{ site.source }}<br />
<ul>
  {% for file in site.files %}
  <li> {{ file }} </li>
  {% endfor %}
</ul>
  
{% for x in site %}
  {{ x }}<br />
{% endfor %}
  
---
# Vars:
{{ site.data }} <br />
{{ site.time }} <br />
{{ site.pages }} <br />
{{ site.posts }} <br />
{{ site.documents }} <br />
{{ site.tags }} <br />
{{ site.static_files }} <br />
{{ site.categories }} <br />
{{ site.collections }} <br />
{{ site.html_pages }} <br />
{{ site.source }} <br />
{{ site.destination }} <br />
{{ site.plugins_dir }} <br />
{{ site.layouts_dir }} <br />
{{ site.data_dir }} <br />
{{ site.includes_dir }} <br />
{{ site.safe }} <br />
{{ site.include }} <br />
{{ site.exclude }} <br />
{{ site.keep_files }} <br />
{{ site.encoding }} <br />
{{ site.markdown_ext }} <br />
{{ site.show_drafts }} <br />
{{ site.limit_posts }} <br />
{{ site.future }} <br />
{{ site.unpublished }} <br />
{{ site.whitelist }} <br />
{{ site.gems }} <br />
{{ site.markdown }} <br />
{{ site.highlighter }} <br />
{{ site.lsi }} <br />
{{ site.excerpt_separator }} <br />
{{ site.incremental }} <br />
{{ site.detach }} <br />
{{ site.port }} <br />
{{ site.host }} <br />
{{ site.baseurl }} <br />
{{ site.show_dir_listing }} <br />
{{ site.permalink }} <br />
{{ site.paginate_path }} <br />
{{ site.timezone }} <br />
{{ site.quiet }} <br />
{{ site.verbose }} <br />
{{ site.defaults }} <br />
{{ site.liquid }} <br />
{{ site.rdiscount }} <br />
{{ site.redcarpet }} <br />
{{ site.kramdown }} <br />
{{ site.jailed }} <br />
{{ site.profile }} <br />
{{ site.gist }} <br />
{{ site.GH_ENV }} <br />
{{ site.theme }} <br />
{{ site.github }} <br />
{{ site.url }} <br />
{{ site.related_posts }} <br />
  
</body>
</html>
